<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/dettaglievento"></ion-back-button>
    </ion-buttons>
    <ion-title text-center="center">Donazione</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(evento$ | async) as evento">

    <ion-card >
 <ion-slides [pager]="true">
    <ion-slide>
      //immagini da capire come fare
      <ion-img [src]="evento.foto"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img [src]="evento.foto"></ion-img>
    </ion-slide>
    </ion-slides> // SICURAMENTE DA MODIFICARE
    <p>{{evento.genere.crowfounding.sommaraggiunta / evento.genere.crowfounding.sommarichiesta}}</p> //da vedere collegamento
    <ion-progress-bar color="tertiary" mode="md" type="determinate" value="0.5"></ion-progress-bar>//da vedere collegamento value non importante
    <ion-button color="tertiary" class="dona" routerDirection="forward" [routerLink]="['/pagamento', evento.id]">{{"CROW_TITLE"| translate}}</ion-button>

    </ion-card>



    <ion-list>
      <ion-item> // DA IMPLEMENTARE
        <ion-avatar slot="start">
          <ion-img [src]="evento.genere.crowfounding"></ion-img>
        </ion-avatar>
        <ion-label>
          <p>{{evento.genere.crowfounding.donatori.nome}} ha donato {{"15€"}}</p>//da vedere cifra
        </ion-label>
      </ion-item>
    </ion-list>
  <ion-button color="tertiary" class="dona" routerDirection="forward" [routerLink]="['/pagamento', evento.id]">{{"DONATION_TITLE"| translate}}</ion-button>

  </ion-content>



