<ion-header>
  <ion-toolbar>
    <ion-title>Mappa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="map-wrapper">
    <div id="map_center">
      <img src="../../assets/icon/center_marker.png" />
    </div>
    <div #map id="map"></div>
  </div>
  <div id="address">
    <span>{{address}}</span>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/login" routerDirection="root">
    <ion-fab-button color="white"  >
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<ion-tabs>
  <ion-tab-bar id=tab slot="bottom">
    <ion-tab-button tab="tab1" (click)="loadMap()">
      <ion-icon class=icon id=mappa name="ios-map"></ion-icon>
      <ion-label class=icona  >Mappa</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" routerLink="/home" routerDirection="root">
      <ion-icon class=icon name="ios-List"></ion-icon>
      <ion-label class=icona>Lista</ion-label>
    </ion-tab-button>
    <ion-tab-button  tab="tab3">
      <ion-icon class=icon  name="ios-chatboxes"></ion-icon>
      <ion-label class=icona >Chat</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon class=icon name="contact"></ion-icon>
      <ion-label class=icona>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
