<ion-header>
  <ion-toolbar><ion-buttons slot="start">
    <ion-back-button  defaultHref="/"></ion-back-button>
  </ion-buttons>
    <ion-title align="center">Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input class=inputsize placeholder="Username"></ion-input>
  <ion-input class=inputsize placeholder="Nome" ></ion-input>
  <ion-input class=inputsize placeholder="Cognome"></ion-input>
  <ion-input class=inputsize placeholder="Email"></ion-input>
  <ion-input class=inputsize placeholder="Password" type="password"></ion-input>

  <ion-button class="registrati" size="medium">Registrati</ion-button>
  <ion-button class="facebook" size="medium">Facebook</ion-button>

</ion-content>
