<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title text-center="center">Edita evento</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-input class=inputsize placeholder="Nome Evento"></ion-input>
    <ion-input class=piccoli placeholder="Data"></ion-input>
    <ion-input class=piccoli placeholder="Ora"></ion-input>
    <ion-input class=inputsize placeholder="Luogo"></ion-input>
    <ion-input class=descrizione placeholder="Descrizione"></ion-input>

</ion-content>
