<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/donazione"></ion-back-button>
    </ion-buttons>
    <ion-title text-center="center">Pagamento</ion-title>

  </ion-toolbar>
</ion-header>
<ion-card *ngIf="(evento$ | async) as evento">

<ion-card-header>

  <ion-card-title>{{evento.nome}}</ion-card-title>
  <ion-card-subtitle>{{evento.sottotitolo}}</ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  {{evento.descrizione}}</ion-card-content>
  <ion-card-content>Data:{{evento.data}}</ion-card-content>
  <ion-card-content>Ora:{{evento.data.ora}}</ion-card-content>
  <ion-card-content>Costo biglietto</ion-card-content>
  <ion-card-content>{{evento.prezzo}}</ion-card-content>

  <ion-card-content>{{evento.prezzo*numerobiglietti}}</ion-card-content>
</ion-card>
<ion-footer>
  <ion-button class="paga" color="tertiary">PayPal</ion-button> // link per paypal non implementato
</ion-footer>
