<ion-content>
  <ion-tabs >
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="mappa">
        <ion-icon class=icon id=mappa name="ios-map"></ion-icon>
        <ion-label>{{'MAPPA' | translate}}</ion-label>
      </ion-tab-button>

      <!-- Tabs Lista-->
      <ion-tab-button tab="lista" >
        <ion-icon class=icon name="ios-List"></ion-icon>
        <ion-label>{{'LIST' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="chatlist" >
        <ion-icon class=icon  name="ios-chatboxes"></ion-icon>
        <ion-label>{{'LEZIONI_TAB' | translate}}</ion-label>
      </ion-tab-button>

      <!-- Tabs Studente-->
      <ion-tab-button tab="profiloutente" >
        <ion-icon class=icon name="contact"></ion-icon>
        <ion-label>{{'PROFILE' | translate}}</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>


</ion-content>
