<ion-header>
  <ion-navbar>
    <div *ngIf="partecipant">
      <ion-title>{{partecipant.username}} </ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-list *ngFor="let m of messages">
    <ion-card id="part-chat-card" *ngIf="!m.mine">
      <ion-card-content id="part-chat-content">
        <p>{{m.body}}</p>
        <p class="m-date">{{m.hour}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card id="my-chat-card" *ngIf="m.mine">
      <ion-card-content id="my-chat-content">
        <p>{{m.body}}</p>
        <p class="m-date">{{m.hour}}</p>
      </ion-card-content>
    </ion-card>

  </ion-list>

  <ion-fab top right id="refresh-btn" #fab>
    <button ion-fab mini color="primary" (click)="doRefresh()"><ion-icon name="sync"></ion-icon></button>
  </ion-fab>


</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <form #sendForm="ngForm" id="form">
      <ion-input [(ngModel)]="myMessage.body" name="body" type="text" #body="ngModel" required placeholder="Write here.."></ion-input>

      <button ion-button round (click)="submit()">
        <ion-icon name="send"></ion-icon>
      </button>
    </form>
  </ion-toolbar>
</ion-footer>
