<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title text-center="center">Edita evento</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <img id=image src="../assets/musipr/LOGO2.JPG" align="center">
  <ion-input class=inputsize placeholder="Nome Evento"></ion-input>
  <div >   <ion-input class="data" placeholder="Data"></ion-input></div>
  <div >   <ion-input  class="ora" placeholder="Ora"></ion-input> </div>
  <div style="clear:both"></div>

  <ion-input class=inputsize placeholder="Luogo"></ion-input>
  <ion-input class=descrizione placeholder="Descrizione"></ion-input>
  <div class="salvabutton">
    <ion-button color="tertiary" align="center">Salva</ion-button>
  </div>
</ion-content>
