ion-input{
  border-radius: 10px !important;
  border: 1px solid #808080 !important;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
}
.inputsize{
  width: 250px;
}
.registrati{
  text-align: left;
  margin-top: 50px;
}
.facebook{
  margin-left: 200px;
  margin-top: -69px;

}
