// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.searchbar-input{

  border-radius: 10px !important;
  border: 1px solid #808080 !important;
}
ion-icon.iconcina{
  position: relative;
  left: 200px;
}
ion-icon{
  color:#ff031c ;
}
ion-fab-button{
  height: 60px;
  width: 60px;

  color: white;
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: #ff031c ;

  --ripple-color: #ff031c ;
}
ion-fab{
  height: 60px;
  width: 60px;
  background-color: white;
  bottom :68px;

  color: white;
  border-style: solid;
  border-radius: 50%;



}

ion-icon.icon {
  color: black;
}
ion-label.icona{
  font-size: 120% ;
  color: #000;
}
#icona{
  left:100px;
}

.h2{
  font-size: 150%;
  font-family: Arial;
}
ion-tab-button{
  --ripple-color: #ff031c ;
  --color-selected: black !important;
}






