<ion-header>
  <ion-toolbar><ion-buttons slot="start">
    <ion-back-button  defaultHref="/"></ion-back-button>
  </ion-buttons>
    <ion-title align="center">Login</ion-title>
  </ion-toolbar>
</ion-header>
<img id=loginimage src="../assets/musipr/LOGO2.JPG" align="center">
<ion-content>
  <form [formGroup]="loginFormModel">
    <ion-list>
      <ion-input  placeholder="Username"></ion-input>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          {{ 'USERNAME' | translate }}</ion-label>
        <ion-input class=inputsize  type="email" formControlName="username"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="loginFormModel.get('username').touched && loginFormModel.get('username').invalid">
        <ion-text color="danger">{{ 'USERNAME_REQUIRED' | translate }}</ion-text>
      </p>

      <ion-input placeholder="Password" type="password"></ion-input>
      <div class="logbutcent">
        <ion-button size="medium">Login</ion-button>
      </div>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          {{ 'PASSWORD' | translate }}</ion-label>
        <ion-input class=inputsize color="tertiary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="loginFormModel.get('password').touched && loginFormModel.get('password').invalid">
        <ion-text color="danger">{{ 'PASSWORD_REQUIRED' | translate }}</ion-text>
      </p>



        <ion-button  routerDirection="forward" routerLink="/signup" size="medium">Signup</ion-button>



    </ion-list>
    <div class="logbutcent">
    <ion-button color="tertiary"  (click)="onLogin()" [disabled]="!loginFormModel.valid" tappable>{{ 'LOGIN_BUTTON' | translate}}</ion-button>
    </div>
  </form>

  <ion-item>
    <p>{{ 'SIGNIN_MESSAGE' | translate }}</p>
    <button ion-button round color="tertiary" routerLink="/signup" routerDirection="forward">{{ 'SIGNIN_BUTTON' | translate }}</button>
  </ion-item>
</ion-content>
