<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-img cache="true" src="../../assets/musipr/LOGO2.JPG" id="logo"></ion-img>

  <form #loginForm="ngForm">
    <ion-list>

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input [(ngModel)]="utente.username" name="username" type="text" #username="ngModel" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="account.password" name="password" type="password"
                   #password="ngModel" required></ion-input>
      </ion-item>

    </ion-list>

    <button ion-button round class="submit" color="primary" [disabled]="!loginForm.form.valid" (click)="submit(loginForm)">{{ 'LOGIN_BUTTON' | translate}}</button>
  </form>
  <ion-item>
    <p>{{ 'SIGNIN_MESSAGE' | translate }}</p>
    <button ion-button round color="secondary" (click)="goToSignin()">{{ 'SIGNIN_BUTTON' | translate }}</button>
  </ion-item>
</ion-content>
