<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/dettaglievento"></ion-back-button>
    </ion-buttons>
    <ion-title text-center="center">Acquisto</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-slides [pager]="true">
      <ion-slide>
        <img src="../assets/musipr/LOGO2.JPG">
      </ion-slide>
      <ion-slide>
        <img src="../assets/musipr/LOGO2.JPG">
      </ion-slide>
    </ion-slides>


  </div>
  <div class="acquistabutton">
    <ion-button slot="bottom" color="tertiary" class="acquista" routerDirection="forward" routerLink="/pagamento">Dona</ion-button>
  </div>
</ion-content>
