<ion-header>
  <ion-toolbar><ion-buttons slot="start">
    <ion-back-button  defaultHref="/"></ion-back-button>
  </ion-buttons>
    <ion-title align="center">Login</ion-title>
  </ion-toolbar>
</ion-header>
<img id=loginimage src="../assets/musipr/LOGO2.JPG" align="center">

<ion-content>

  <ion-input class=inputsize placeholder="Username"></ion-input>
  <ion-input class=inputsize placeholder="Password" type="password"></ion-input>
  <div class="logbutcent">
    <ion-button size="medium">Login</ion-button>
  </div>
  <p>Non ancora bestemmiato?bestemmia qui</p>
  <div class="logbutcent">

    <ion-button  routerDirection="forward" routerLink="/signup" size="medium">Signup</ion-button>
  </div>
</ion-content>
