#loginimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 35%;
}
ion-input{
  border-radius: 10px !important;
  border: 1px solid #808080 !important;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.inputsize{
  width: 250px;
}
ion-button{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

}
.logbutcent{
  text-align: center;
}
