<ion-header>
  <ion-toolbar>
    <ion-title>{{5+5}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <h2>{{5+5}}</h2>
    </ion-item>

  </ion-list>

</ion-content>
<ion-tabs>
  <ion-tab-bar id=tab  slot="bottom">
    <ion-tab-button tab="tab1" routerDirection="root" routerLink="/mappa">
      <ion-icon class=icon id=mappa name="ios-map"></ion-icon>
      <ion-label class=icona  >Mappa</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" routerLink="/lista" routerDirection="root">
      <ion-icon class=icon name="ios-List"></ion-icon>
      <ion-label class=icona>Lista</ion-label>
    </ion-tab-button>
    <ion-tab-button  tab="tab3" routerLink="/chatlist" routerDirection="root">
      <ion-icon class=icon  name="ios-chatboxes"></ion-icon>
      <ion-label class=icona >Chat</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4" routerLink="/profiloutente" routerDirection="root">
      <ion-icon class=icon name="contact"></ion-icon>
      <ion-label class=icona>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


