

<ion-header *ngIf="(evento$ | async) as  evento" padding="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title text-center="center">{{"DETAGLI_EVENTO_TITLE"| translate}}</ion-title>
    <ion-icon id="iconcina" align-items-end="right" name="contact" [routerLink]=['/dettagliorganizzatore',evento.creatore.id] routerDirection="forward">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(evento$ | async) as  evento" padding="true" >


  <ion-card >

 <ion-slides [pager]="true">
  <ion-slide>

    <img [src]="evento.foto.id">
  </ion-slide>
  <ion-slide>
    <img [src]="evento.foto.id">
  </ion-slide>
 </ion-slides>

  <ion-card-header>
    <ion-card-title>{{evento.id}}</ion-card-title>
    <ion-card-subtitle>{{evento.sottotitolo}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{evento.descrizione}}
  </ion-card-content>


  </ion-card>

  <ion-button *ngIf="evento.genere.pagamento" color="tertiary" [routerLink]="['/acquisto', evento.id]">{{"BUY_TITLE"| translate}}</ion-button>
    <ion-button *ngIf="evento.genere.crowfounding"  color="tertiary" [routerLink]="['/dona', evento.id]">{{"CROW_TITLE"| translate}}</ion-button>
    <ion-button *ngIf="evento.genere.gratuito" color="tertiary" (click)="addPart()" [disabled]="disableButton">{{"TAKE_PART"| translate}}</ion-button>

</ion-content>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button  >
    <ion-icon  id="navigation" name="compass"></ion-icon>
  </ion-fab-button>
</ion-fab>
